
<p>Dear Admin,</p>
<blockquote>

<p>{{event['name']}} has made a booking. </p>

<p>Please check the details of the booking:</p>

<ul>
<li>Name: {{event['name']}}</li>
<li>Contact: {{event['phone']}}</li>
<li>Email: {{event['email']}}</li>
<li>Room: {{event['room']}}</li>
<li>Start: {{ event['starttime']}}</li>
<li>End: {{ event['endtime']}}</li>
<li>Purpose:  {{event['purpose']}}</li>
</ul>

<a href="http://abbey.tembusupac.org/approve">Click here to visit the control panel
</a>
</blockquote>
<p>
Regards,
</p>
<p>

The Matrix
</p>

