
<p>Dear {{event['name']}},</p>
<blockquote>

<p>Your booking on {{event['date']}} {{event['start_time']}} - {{ event['end_time']}} has been approved. </p>

<p>Please check the details of your booking:</p>

<ul>
<li>Name: {{event['name']}}</li>
<li>Date: {{ event['date']}}</li>
<li>Duration: {{event['start_time']}} - {{ event['end_time']}}</li>
<li>Purpose:  {{event['purpose']}}</li>
</ul>

<p>Please contact Austin (HP:93297828) 5 minutes before your booking time so that he can open the Abbey for you on time. Other enquires, please contact us by email: abbey@tembusupac.org
</p>
</blockquote>
<p>
Regards,
</p>
<p>

The Abbey
</p>

