
<p>Dear {{event['name']}},</p>
<blockquote>

<p>We regret to inform you that your booking on {{event['date']}} {{event['start_time']}} - {{ event['end_time']}} is not approved. 
</p>

<p>Please check the details of your booking:</p>

<ul>
<li>Name: {{event['name']}}</li>
<li>Date: {{ event['date']}}</li>
<li>Duration: {{event['start_time']}} - {{ event['end_time']}}</li>
<li>Purpose:  {{event['purpose']}}</li>
</ul>

<p>The disapproval is because of the reason stated below:</p>

<p>{{reason}}</p>

<p>Please contact Austin (HP:93297828) if you have any questions regarding to your booking. Other enquires, please contact us by email: abbey@tembusupac.org
</p>
</blockquote>
<p>
Regards,
</p>
<p>

The Abbey
</p>

